<!DOCTYPE html>
<html lang="en">

<head>
    <title>PΛDOX</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Padox - Website">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Padox - Website">
    <meta property="og:description" content="Padox Music">
    <meta property="og:image" content="/assets/moon.png">
    <meta property="og:url" content="http://padoxmusic.com">

    <link rel="shortcut icon" href="/assets/moon.png" type="image/x-icon">
    <!--
        EXPORT FOOTER PADRÃO ZAPPATA
    -->
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="public/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!--TERMINADO AQUI-->
    <link rel="icon" href="/assets/moon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://preview.colorlib.com/theme/mixtape/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link href="https://preview.colorlib.com/theme/mixtape/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://preview.colorlib.com/theme/mixtape/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="https://preview.colorlib.com/theme/mixtape/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="https://preview.colorlib.com/theme/mixtape/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="https://preview.colorlib.com/theme/mixtape/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="https://preview.colorlib.com/theme/mixtape/styles/responsive.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <style>
        /**
* Template Name: Bootslander - v2.2.0
* Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/
        /*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
        
        body {
            font-family: "Open Sans", sans-serif;
            color: #ffffff;
        }
        
        a {
            color: #1acc8d;
        }
        
        a:hover {
            color: #34e5a6;
            text-decoration: none;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Montserrat", sans-serif;
        }
        /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
        
        #footer {
            background: #000000;
            padding: 0 0 30px 0;
            color: #fff;
            font-size: 14px;
        }
        
        #footer .footer-top {
            padding: 60px 0 30px 0;
        }
        
        #footer .footer-top .footer-info {
            margin-bottom: 15px;
            background: #000000;
            color: #fff;
            border-top: 4px solid #f10b0b;
            text-align: center;
            padding: 30px 20px;
        }
        
        #footer .footer-top .footer-info h3 {
            font-size: 24px;
            margin: 0 0 20px 0;
            padding: 2px 0 2px 0;
            line-height: 1;
            font-weight: 700;
        }
        
        #footer .footer-top .footer-info p {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 0;
            font-family: "Montserrat", sans-serif;
        }
        
        #footer .footer-top .social-links a {
            font-size: 18px;
            display: inline-block;
            color: #fff;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 50%;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;
        }
        
        #footer .footer-top .social-links a:hover {
            background: #e70909;
            color: #fff;
            text-decoration: none;
        }
        
        #footer .footer-top h4 {
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            position: relative;
            padding-bottom: 12px;
        }
        
        #footer .footer-top .footer-links {
            margin-bottom: 30px;
        }
        
        #footer .footer-top .footer-links ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        #footer .footer-top .footer-links ul i {
            padding-right: 2px;
            color: #ffffff;
            font-size: 18px;
            line-height: 1;
        }
        
        #footer .footer-top .footer-links ul li {
            padding: 10px 0;
            display: flex;
            align-items: center;
        }
        
        #footer .footer-top .footer-links ul li:first-child {
            padding-top: 0;
        }
        
        #footer .footer-top .footer-links ul a {
            color: #fff;
            transition: 0.3s;
            display: inline-block;
            line-height: 1;
        }
        
        #footer .footer-top .footer-links ul a:hover {
            color: #d11919;
        }
        
        #footer .footer-top .footer-newsletter form {
            margin-top: 30px;
            background: #fff;
            padding: 6px 10px 6px 15px;
            position: relative;
            border-radius: 50px;
        }
        
        #footer .footer-top .footer-newsletter form input[type="email"] {
            border: 0;
            padding: 4px;
            width: calc(100% - 110px);
        }
        
        #footer .footer-top .footer-newsletter form input[type="submit"] {
            position: absolute;
            top: 0;
            right: -2px;
            bottom: 0;
            border: 0;
            background: none;
            font-size: 16px;
            padding: 0 20px;
            background: #1acc8d;
            color: #fff;
            transition: 0.3s;
            border-radius: 50px;
        }
        
        #footer .footer-top .footer-newsletter form input[type="submit"]:hover {
            background: #149f6e;
        }
        
        #footer .copyright {
            border-top: 1px solid #ffffff;
            text-align: center;
            padding-top: 30px;
        }
        
        #footer .credits {
            padding-top: 10px;
            text-align: center;
            font-size: 13px;
            color: #fff;
        }
        
        @media (max-width: 575px) {
            #footer .footer-top .footer-info {
                margin: -20px 0 30px 0;
            }
        }
        
        html,
        body,
        * {
            scroll-behavior: smooth !important;
        }
        
        .image-overlay {
            background: red !important;
        }
        
        .spotify {
            box-shadow: -10px 20px 30px black;
            border-radius: 20px;
            border: 4px solid white;
            transform: translateX(-100px);
            margin-top: 80px;
            width: 500px;
            height: 580px;
        }
        
        @media only screen and (max-width: 600px) {
            .spotify {
                box-shadow: -10px 20px 30px black;
                border-radius: 20px;
                border: 4px solid white;
                transform: translate(0, -80px);
                margin-top: 0px;
                width: 100%;
                height: 100%;
            }
        }
    </style>
</head>

<body>

    <div class="super_container">

        <!-- Header -->
        <header class="header">
            <div class="header_content d-flex flex-row align-items-center justify-content-center">
                <div class="logo">
                    <a href="https://www.instagram.com/padoxmusic" style="font-size: 700 !important; font-family: Arial, Helvetica, sans-serif !important;"><img src="/assets/logo.png" width="125px"></a>
                </div>

                <nav class="main_nav">
                    <ul class="d-flex flex-row align-items-start justify-content-start">
                        <li class="active"><a href="index.html">Home</a></li>

                        <li><a href="#mymusic">My Music</a></li>
                        <li><a href="#aboutme">About me</a></li>

                    </ul>
                </nav>
                <div class="hamburger ml-auto">
                    <div class="d-flex flex-column align-items-end justify-content-between">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Menu -->

        <div class="menu">
            <div>
                <div class="menu_overlay"></div>
                <div class="menu_container d-flex flex-column align-items-start justify-content-center">
                    <div class="menu_log_reg">
                        <ul class="d-flex flex-row align-items-start justify-content-start">
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Register</a></li>
                        </ul>
                    </div>
                    <nav class="menu_nav">
                        <ul class="d-flex flex-column align-items-start justify-content-start">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="music.html">Music</a></li>
                            <li><a href="blog.html">News</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Home -->

        <div class="home">
            <div class="home_slider_container">

                <!-- Home Slider -->
                <div class="owl-carousel owl-theme home_slider">

                    <!-- Slide -->
                    <div class="owl-item">
                        <div class="background_image" style="background-image:url(/assets/header.png); opacity: 50%;"></div>
                        <div class="home_container">
                            <div class="home_container_inner d-flex flex-column align-items-center justify-content-center">
                                <div class="home_content text-center">
                                    <div class="home_subtitle">New Single Release</div>
                                    <div class="home_title">
                                        <h2 style="font-weight: thin !important;">Vintage Culture, Shapeless, Padox - Show Me The Way</h2>
                                    </div>
                                    <div class="home_link"><a href="#">Pre-save</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide -->
                    <div class="owl-item">
                        <div class="background_image" style="background-image:url(https://preview.colorlib.com/theme/mixtape/images/index.jpg)"></div>
                        <div class="home_container">
                            <div class="home_container_inner d-flex flex-column align-items-center justify-content-center">
                                <div class="home_content text-center">
                                    <div class="home_subtitle">New single release</div>
                                    <div class="home_title">
                                        <h1>Love is all around</h1>
                                    </div>
                                    <div class="home_link"><a href="#">Listen on Soundcloud</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide -->
                    <div class="owl-item">
                        <div class="background_image" style="background-image:url(https://preview.colorlib.com/theme/mixtape/images/index.jpg)"></div>
                        <div class="home_container">
                            <div class="home_container_inner d-flex flex-column align-items-center justify-content-center">
                                <div class="home_content text-center">
                                    <div class="home_subtitle">New single release</div>
                                    <div class="home_title">
                                        <h1>Love is all around</h1>
                                    </div>
                                    <div class="home_link"><a href="#">Listen on Soundcloud</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Featured Album -->

        <div id="mymusic" class="featured_album">
            <div class="background_image featured_background" style="background-image:url(https://preview.colorlib.com/theme/mixtape/images/featured.png)"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="section_title_container">
                            <div class="section_subtitle">My Music</div>
                            <div class="section_title">
                                <h1>Me ouça:</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row featured_row row-lg-eq-height">

                    <!-- Featured Album Image -->
                    <div class="col-md-6">
                        <div class="featured_album_image">
                            <div class="image_overlay"></div>
                            <div class="background_image" style="border-radius: 20px; background-image:url(/assets/3.webp);"></div>
                            <!-- <img src="images/featured_album.jpg" alt=""> -->
                        </div>
                    </div>

                    <!-- Featured Album Player -->
                    <div style="" class="col-md-6 featured_album_col">
                        <iframe class="spotify" style="" src="https://open.spotify.com/embed/artist/6EIynm35fNLiEbCqFGpapj" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </div>

                </div>
            </div>
        </div>

        <!-- Shows -->

        <div class="shows">
            <div class="container">
                <div class="row" style="z-index:10;">
                    <div class="col">
                        <div class="section_title_container">
                            <div class="section_subtitle">Eventos</div>
                            <div class="section_title">
                                <h1></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row shows_row">

                    <!-- Shows List -->
                    <div class="col-lg-8 order-lg-1 order-2 shows_list_col">
                        <div class="shows_list_container">
                            <ul class="shows_list">

                                <!-- Show -->
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div>
                                        <div class="show_date">18/07</div>
                                    </div>
                                    <div class="show_info d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-start justify-content-center">
                                        <div class="show_name"><a href="#">Electric Castle Festival</a></div>
                                        <div class="show_location">Cluj, Romania</div>
                                    </div>
                                    <div class="ml-auto">
                                        <div class="show_shop trans_200"><a href="#">Buy Tickets</a></div>
                                    </div>
                                </li>

                                <!-- Show -->
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div>
                                        <div class="show_date">20/07</div>
                                    </div>
                                    <div class="show_info d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-start justify-content-center">
                                        <div class="show_name"><a href="#">Ultra Music Festival</a></div>
                                        <div class="show_location">Miami, USA</div>
                                    </div>
                                    <div class="ml-auto">
                                        <div class="show_shop trans_200"><a href="#">Buy Tickets</a></div>
                                    </div>
                                </li>

                                <!-- Show -->
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div>
                                        <div class="show_date">03/08</div>
                                    </div>
                                    <div class="show_info d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-start justify-content-center">
                                        <div class="show_name"><a href="#">Untold Festival</a></div>
                                        <div class="show_location">Cluj, Romania</div>
                                    </div>
                                    <div class="ml-auto">
                                        <div class="show_shop trans_200"><a href="#">Buy Tickets</a></div>
                                    </div>
                                </li>

                                <!-- Show -->
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div>
                                        <div class="show_date">11/08</div>
                                    </div>
                                    <div class="show_info d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-start justify-content-center">
                                        <div class="show_name"><a href="#">Sun Kissed Festival</a></div>
                                        <div class="show_location">Paris, France</div>
                                    </div>
                                    <div class="ml-auto">
                                        <div class="show_shop trans_200"><a href="#">Buy Tickets</a></div>
                                    </div>
                                </li>

                                <!-- Show -->
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div>
                                        <div class="show_date">18/08</div>
                                    </div>
                                    <div class="show_info d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-start justify-content-center">
                                        <div class="show_name"><a href="#">Spanish Festival</a></div>
                                        <div class="show_location">Madrid, Spain</div>
                                    </div>
                                    <div class="ml-auto">
                                        <div class="show_shop trans_200"><a href="#">Buy Tickets</a></div>
                                    </div>
                                </li>

                                <!-- Show -->
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div>
                                        <div class="show_date">25/08</div>
                                    </div>
                                    <div class="show_info d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-start justify-content-center">
                                        <div class="show_name"><a href="#">Vikings Festival</a></div>
                                        <div class="show_location">Oslo, Norway</div>
                                    </div>
                                    <div class="ml-auto">
                                        <div class="show_shop trans_200"><a href="#">Buy Tickets</a></div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <!-- Shows Image -->
                    <div class="col-lg-4 order-lg-2 order-1">
                        <div class="shows_image">
                            <div class="image_overlay"></div>
                            <img src="https://preview.colorlib.com/theme/mixtape/images/shows.jpg" alt="https://unsplash.com/@anthonydelanoix">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Artist -->

        <div class="artist">
            <div class="container">
                <div class="row">

                    <!-- Artist Image -->
                    <div class="col-lg-4 artist_image_col">
                        <div class="artist_image">
                            <img src="/assets/1.webp" alt="">
                        </div>
                    </div>

                    <!-- Artist Content -->
                    <div id="aboutme" class="col-lg-7 offset-lg-1">
                        <div class="artist_content">
                            <div class="section_title_container">
                                <div class="section_subtitle">Sobre mim</div>
                                <div class="section_title">
                                    <h1>O artista</h1>
                                </div>
                            </div>
                            <div class="artist_text">
                                <p> In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Maecenas sollicitudin est in libero pretium interdum. Nullam volutpat dui sem, ac congue purus
                                    luctus nec. Curabitur luctus luctus erat, sit amet facilisis quam congue quis. Quisque ornare luctus erat id dignissim. Nullam ac nunc quis ex porttitor luctus.</p>
                                <p>Integer sed facilisis eros. In iaculis rhoncus velit in malesuada. In hac habitasse platea dictumst. Fusce erat ex, consectetur sit amet ornare suscipit, porta et erat. Donec nec nisi in nibh commodo laoreet. Mauris dapibus
                                    justo ut feugiat malesuada. Fusce ultricies ante tortor, non vestibulum est feugiat ut.</p>
                            </div>
                            <div class="artist_sig"><img src="images/sig.png" alt=""></div>
                            <div class="single_player_container d-flex flex-column align-items-start justify-content-center">
                                <div class="single_player">
                                    <div id="jplayer_2" class="jp-jplayer"></div>
                                    <div id="jp_container_2" class="jp-audio" role="application" aria-label="media player">
                                        <div class="jp-type-single">
                                            <div class="player_details d-flex flex-row align-items-center justify-content-start">
                                                <div class="jp-details">
                                                    <div>playing</div>
                                                    <div class="jp-title" aria-label="title">&nbsp;</div>
                                                </div>
                                                <div class="jp-controls-holder ml-auto">
                                                    <button class="jp-play" tabindex="0"></button>
                                                </div>
                                            </div>
                                            <div class="player_controls">
                                                <div class="jp-gui jp-interface d-flex flex-row align-items-center justify-content-start">
                                                    <div class="jp-controls-holder time_controls d-flex flex-row align-items-center justify-content-start">
                                                        <div>
                                                            <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                                        </div>
                                                        <div class="jp-progress">
                                                            <div class="jp-seek-bar">
                                                                <div class="jp-play-bar"></div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">&nbsp;</div>
                                                        </div>
                                                    </div>
                                                    <div class="jp-volume-controls d-flex flex-row align-items-center justify-content-start ml-auto">
                                                        <button class="jp-mute" tabindex="0"></button>
                                                        <div class="jp-volume-bar">
                                                            <div class="jp-volume-bar-value"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="jp-no-solution">
                                                <span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Extra -->

        <div class="extra">
            <div class="extra_container">
                <div class="background_image" style="background-image:url(https://preview.colorlib.com/theme/mixtape/images/extra.jpg)"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="extra_content d-flex flex-column align-items-start justify-content-center">
                                <div class="extra_title">
                                    <h1>Get your tickets now!</h1>
                                </div>
                                <div class="extra_text">
                                    <p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Maecenas sollicitudin est in libero pretium interdum</p>
                                </div>
                                <div class="extra_button"><a href="#">Buy Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->

        <!-- ======= Footer JOACY QUE COLOCOU ======= -->
        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 col-md-6">
                            <div class="footer-info">
                                <img src="assets/logocontato.png" width="30%" alt=""><br>
                                <p class="pb-3" "><br><em>Feito por quem entende de tecnologia.</em></p>
          <p>
            Balsas,Maranhão <br>
            65800-000<br><br>
            <strong>Site:</strong> www.zappata.com.br<br>
            <strong>Email:</strong> info@example.com<br>
          </p>
          <div class="social-links mt-3 ">
           
            <a href="# " class="facebook "><i class="bx bxl-facebook "></i></a>
            <a href="# " class="instagram "><i class="bx bxl-instagram "></i></a>
            <a href="# " class="google-plus "><i class="fas fa-globe-americas "></i></a>
            
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 footer-links ">
        <h4>Área de Supote</h4>
        <ul>
          <li><i class="bx bx-chevron-right "></i> <a href="# ">Suporte para Usuários</a></li>
          <li><i class="bx bx-chevron-right "></i> <a href="# ">Suporte para Empresas</a></li>
          <li><i class="bx bx-chevron-right "></i> <a href="# ">Termos de serviço</a></li>
          <li><i class="bx bx-chevron-right "></i> <a href="# ">Política de Privacidade</a></li>
        </ul>
      </div>

      
      

    </div>
  </div>
</div>

<div class="container ">
  <div class="copyright ">
    &copy; Copyright <strong><span>Zappata</span></strong>. Todos os direitos reservados.
  </div>
  <!--
  <div class="credits ">
     All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/ -->
    <!--Designed by <a href="https://bootstrapmade.com/ ">BootstrapMade</a>
  </div> -->
</div>
</footer><!-- End Footer MEXI ATÉ AQUI -->
    </div>

    <script src="https://preview.colorlib.com/theme/mixtape/js/jquery-3.2.1.min.js "></script>
    <script src="https://preview.colorlib.com/theme/mixtape/styles/bootstrap-4.1.2/popper.js "></script>
    <script src="https://preview.colorlib.com/theme/mixtape/styles/bootstrap-4.1.2/bootstrap.min.js "></script>
    <script src="https://preview.colorlib.com/theme/mixtape/plugins/greensock/TweenMax.min.js "></script>
    <script src="https://preview.colorlib.com/theme/mixtape/plugins/greensock/TimelineMax.min.js "></script>
    <script src="https://preview.colorlib.com/theme/mixtape/plugins/scrollmagic/ScrollMagic.min.js "></script>
    <script src="https://preview.colorlib.com/theme/mixtape/plugins/greensock/animation.gsap.min.js "></script>
    <script src="https://preview.colorlib.com/theme/mixtape/plugins/greensock/ScrollToPlugin.min.js "></script>
    <script src="https://preview.colorlib.com/theme/mixtape/plugins/OwlCarousel2-2.2.1/owl.carousel.js "></script>
    <script src="https://preview.colorlib.com/theme/mixtape/plugins/easing/easing.js "></script>
    <script src="https://preview.colorlib.com/theme/mixtape/plugins/progressbar/progressbar.min.js "></script>
    <script src="https://preview.colorlib.com/theme/mixtape/plugins/parallax-js-master/parallax.min.js "></script>
    <script src="https://preview.colorlib.com/theme/mixtape/plugins/jPlayer/jquery.jplayer.min.js "></script>
    <script src="https://preview.colorlib.com/theme/mixtape/plugins/jPlayer/jplayer.playlist.min.js "></script>
    <script src="https://preview.colorlib.com/theme/mixtape/js/custom.js "></script>



</body>

</html>